.container {
  display: flex;
  justify-content: space-around;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.divider {
  border: 0.1px solid rgba(0, 0, 0, 0.157);
  margin-right: 10px;
  margin-left: 10px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.tittle {
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.player {
  margin-top: 3rem;
}

.skillsItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s;
}

@media all and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .divider {
    display: none;
  }

  .player {
    margin-top: 0;
    margin-bottom: 4rem;
  }

  .tittle {
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 2rem;
  }
}

@media all and (max-width: 600px) {
  .player {
    margin-top: 0;
    margin-bottom: 4rem;
    max-width: 100%;
  }

  .tittle {
    font-size: 1.5rem;
    letter-spacing: 0;
    text-align: center;
  }
}

@media all and (max-width: 400px) {
  .player {
    margin-top: 1rem;
    margin-bottom: 6rem;
  }

  .tittle {
    font-size: 1.5rem;
    letter-spacing: 0;
    text-align: center;
  }
}
