.container {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto Mono", monospace;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.divider {
  border: 0.1px solid rgba(0, 0, 0, 0.157);
  margin-right: 10px;
  margin-left: 10px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.tittle {
  font-size: 2.5rem;
  font-weight: lighter;
  letter-spacing: 1rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.player {
  margin-top: 3rem;
}

.skillsItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s;
  margin-bottom: 5rem;
}

.skillTitle {
  font-size: 2rem;
}

@media all and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .about {
    margin-bottom: 12rem;
  }

  .divider {
    display: none;
  }

  .player {
    margin-top: 1rem;
  }
}

@media all and (max-width: 700px) {
  .tittle {
    font-size: 3rem;
    text-align: center;
  }
}

@media all and (max-width: 640px) {
  .tittle {
    text-align: center;
  }

  .player {
    max-width: 100vw;
  }
}
