.button {
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  text-transform: capitalize;
  text-decoration: none;
  color: #1e272e;
  font-size: 2rem;
  transition: all 0.2s;
  padding: 0rem 1rem;
  margin: 1rem 0;
  width: 100%;
  border: none;
  border-radius: 0;
}

.button:hover {
  color: #f5f6fa !important;
  background: #1e272e;
  transform: scale(1.1);
}

.button:disabled {
  transform: scale(1.1);
  background: #485460;
  color: #808e9b;
}
