.button {
  font-family: "Roboto Mono", monospace;
  text-transform: capitalize;
  text-decoration: none;
  color: #1e272e;
  font-size: 2rem;
  transition: all 0.2s;
  padding: 3px 10px;
  margin: 1rem;
}

.button:hover {
  color: #f5f6fa !important;
  transform: scale(1.2);
  background: #1e272e;
}
