.footer {
  text-align: center;
  padding: 1rem 0;
  color: #1e272e;
  font-size: 1.7rem;
}

@media all and (max-width: 900px) {
  .footer {
    margin-top: 3rem;
  }
}

/* #f5f6fa
** #1e272e
*/
