.section {
  margin: 2rem 0;
  margin-bottom: 4rem;
}

.label {
  margin-left: 1.1rem;
}

.error {
  position: absolute;
  margin-left: 1.1rem;
  color: #ff3f34 !important;
}

@media all and (max-width: 400px) {
  textarea {
    height: 70px;
  }
}
