.section {
  margin: 2rem 0;
  margin-bottom: 4rem;
}

.label {
  margin-left: 1.1rem;
}

.error {
  position: absolute;
  margin-left: 1.1rem;
  color: #ff3f34 !important;
}

.btn {
  max-width: 40%;
  margin: 0 auto;
  border-bottom: 1px solid #1e272e;
}

@media all and (max-width: 1440px) {
  .btn {
    max-width: 60%;
  }
}

@media all and (max-width: 780px) {
  .btn {
    max-width: 70%;
  }
}

@media all and (max-width: 425px) {
  .btn {
    max-width: 80%;
  }

  textarea {
    height: 70px;
  }
}
